* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #14131c;
    --secondary-background: #2b2b2f;
    --primary-color: #00FE00;
    --secondary-color: #017d01;
    --text-color: #e9f8ec;
}

#menuToggle {
    display: block;
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 3;
}

#menuToggle a {
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: var(--primary-color);
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    right: -5px;
    opacity: 0;
    z-index: 4;

    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: var(--primary-color);
    z-index: 3;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: var(--primary-color);
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    max-width: 400px;
    width: 100vw;
    height: 110vh;
    margin: -100px 0 0 -200px;
    padding: 50px;
    padding-top: 125px;
    box-sizing: border-box;
    overflow-y: auto;
    background: var(--secondary-background);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

#menu li label {
    cursor: pointer;
}

#menuToggle input:checked~ul {
    transform: none;
}

body{
    background-color: var(--background);
    color: var(--text-color);
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

html{
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

main{
    width: calc(100% - 240px);
    margin: 100px auto;
}

h1{
    font-weight: 700;
    font-style: italic;
}

main > section{
    scroll-snap-align: start;
    scroll-snap-stop: always;
    height: 100%;
}

a{
    color: var(--primary-color);
}

a:hover{
    color: var(--secondary-color);
}

header{
    width: 5vw;
    height: auto;
    left: 20px;
    margin-top: 20px;
    position: absolute;
    z-index: 2;
}

#title, #contact{
    height: 100vh;
}

#titlescreen{
    width: 100vw;
    max-height: 100vh;
    height: 100%;
    margin: -100px 0 0 -120px;
    position: absolute;
}

#about{
    height: 100vh;
    padding: 50px 0;
    display: grid;
    place-items: center;
}

#about h2{
    font-size: 4rem;
}

.gradient{
    animation: background-pan 5s linear infinite;
    background: linear-gradient(to right,
                var(--primary-color),
                var(--secondary-color),
                var(--text-color),
                var(--primary-color));
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

.sectionpin {
    height: 700vh;
    overflow: visible;

    view-timeline-name: --section-pin-tl;
    view-timeline-axis: block;
}

iframe {
    height: 100vh;
    width: 100vw;
    margin-left: -120px;
    position: sticky;
    top: 0;
    overflow-x: hidden;
    z-index: -1;
}

main article {
    z-index: 2;
    position: relative;
    height: 100vh;
    width: 250vmax;
    /* Hook animation */
    will-change: transform;
    animation: linear moving forwards;

    /* Link animation to view-timeline */
    animation-timeline: --section-pin-tl;
    animation-range: contain 0% contain 100%;
}

main article p{
    width: 100%;
    text-align: left;
    font-size: 2rem;
}

@keyframes moving {
    to {
        transform: translateY(calc(-100% + 100vh));
    }
}